{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
    {% if contact.id %}
        <h1>Edit Contact</h1>
    {% else %}
        <h1>Add Contact</h1>
    {% endif %}
    <form action="{{ action }}" method="POST">
        {% csrf_token %}
        <ul>
            {{ form.as_p }}
        </ul>
        <input id="save_contact" type="submit" value="Save"/>
    </form>
    <a href="{% url "contacts-list" %}">back to list</a>
{% endblock %}
</body>
</html>